{% paginate collection.products by 48 %}

    <div class="collection__grid">

      {% for product in collection.products %}

        {% include 'product-grid-item' %}

      {% endfor %}

    </div>

{% endpaginate %}
