<section class="hero height--fixed">
	<a href="/collections/all" class="hero__link">
		<span class="hero__cta">
			<span class="h1">
				<span class="cta__first">explore</span><br>
				<span class="cta__second">imaginative</span><br>
				<span class="cta__third">play</span>
			</span>
		</span>
	</a>
</section>

{% include 'loading', style: 'white' %}